/**
 * Place your custom CSS styles here.
 **/

.reveal-modal {
    width: 750px;
    margin-left: -400px;
}

.ves_code {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

.ves_message {
    font-size: 12px;
    color: #EE9E44;
    font-weight: bold;
    text-align: center;
}

#VES_calendar_key{
    margin-top: 10px;
}

#VES_calendar_key .swatch {
    margin: 5px;
    width: 20px;
    height: 20px;
    float: left;
}

#VES_calendar_key .swatch_label {
    margin: 10px 5px 5px 0px;
    float: left;
}

#VES_calendar_key .verablue {
    background-color: #18A0AB;
}

#VES_calendar_key .verapink {
    background-color: #D73185;
}

#VES_calendar_key .veragreen {
    background-color: #8FBC48;
}
